<div class="panel panel-primary">
    <div class="panel-heading">Club menu</div>
    <ul class="list-group">        
        <li class="list-group-item">@Html.ActionLink("Teams", "List", "Team")</li>
        <li class="list-group-item">@Html.ActionLink("Competitions", "List", "Competition")</li>
        <li class="list-group-item">@Html.ActionLink("Members", "Club")</li>
        <li class ="list-group-item">@Html.ActionLink("Memberships", "Club")</li>
        <li class="list-group-item">@Html.ActionLink("Players", "Club")</li>

        @*@{ // This code gives us a login exception.  I suspect the IsInRole doesn't like our new table setup
            if(User.IsInRole(SportsTech.Data.Role.ClubManager))
            { 
                <text>>
        <li class="list-group-item">@Html.ActionLink("User access", "Club")</li>
                </text>
            }
        }*@
    </ul>
</div>