<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base")
    @Styles.Render("~/Content/qTip")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @Html.Action("SiteHeader", "Club", new { Area = "Clubs" })
        </div>
    </div>
    <div class="container body-content">
        @RenderSection("dialogs", false)

        @RenderBody()
        <hr />
        <footer>
            @Html.Partial("_SiteFooter")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dataTable")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/qTip")
    @Scripts.Render("~/bundles/core")
    @RenderSection("scripts", required: false)

</body>
</html>
