@model SportsTech.Web.Areas.Clubs.ViewModels.Draw.CreateViewModel

<div class="form-group">
    @Html.LabelFor(model => model.RoundId, new { @class = "control-label col-xs-2" })
    <div class="col-xs-10">
        @Html.DropDownListFor(model => model.RoundId, Model.Rounds, string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.RoundId)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TeamId, new { @class = "control-label col-xs-2" })
    <div class="col-xs-10">
        @Html.DropDownListFor(model => model.TeamId, Model.Teams, string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TeamId)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Against, new { @class = "control-label col-xs-2" })
    <div class="col-xs-10">
        @Html.TextBoxFor(model => model.Against, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Against)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.IsHomeGame, new { @class = "control-label col-xs-2" })
    <div class="col-xs-10">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(model => model.IsHomeGame)
            </label>
            @Html.ValidationMessageFor(model => model.IsHomeGame)
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Referee, new { @class = "control-label col-xs-2" })
    <div class="col-xs-10">
        @Html.TextBoxFor(model => model.Referee, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Referee)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EventDate, new { @class = "control-label col-xs-2" })
    <div class="col-xs-3">
        @Html.EditorFor(model => model.EventDate)
        @Html.ValidationMessageFor(model => model.EventDate)
    </div>
    <div class="col-xs-7">&nbsp;</div>
</div>

<div>
    @Html.HiddenFor(model => model.SeasonId)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ReturnUrl)
</div>
