@model SportsTech.Web.Areas.Clubs.ViewModels.Season.CreateViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label col-xs-2" })
    <div class="col-xs-10">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(model => model.From, new { @class = "control-label col-xs-2" })
    <div class="col-xs-3">
        @Html.EditorFor(model => model.From)
        @Html.ValidationMessageFor(model => model.From)        
    </div>
    <div class="col-xs-7">&nbsp;</div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.To, new { @class = "control-label col-xs-2" })
    <div class="col-xs-3">
        @Html.EditorFor(model => model.To)
        @Html.ValidationMessageFor(model => model.To)
    </div>
    <div class="col-xs-7">&nbsp;</div>
</div>

<div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CompetitionId)    
</div>